/* base */

body {
    position: relative
}

.banner {
    position: relative;
    display: block;
    padding-top: 15.62%;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: #d7d7d7;
    background-repeat: no-repeat;
    background-position: 0 0
}

.dl-guide {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #eee;
    z-index: 10
}

.dl-guide header {
    height: 245px;
    background-color: #1f75cc;
    position: relative;
    background-image: url(../images/welcome-cover.jpg), url(img/welcome-sticker.png?max_age=19830212&d=20160519113742);
    -webkit-background-size: 160px 138px, 246px 103px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    color: #fff
}

.dl-guide header.wifi {
    background-image: url(../images/welcome-cover.jpg), url(img/welcome-sticker.png?max_age=19830212&d=20160519113742), url(img/welcome-bg.jpg?max_age=19830212&d=20160519113742);
    -webkit-background-size: 160px 138px, 246px 103px, cover;
    background-position: 50% 100%, 50% 100%, 50%
}

.dl-guide h1 {
    font-size: 20px;
    padding: 15px 0 13px
}

.dl-guide h1:before {
    content: '';
    display: inline-block;
    width: 26px;
    height: 26px;
    background-image: url(../images/login-chg160316150413.png);
    background-position: 0 0;
    margin-right: 5px;
    vertical-align: middle;
    margin-top: -4px
}

.dl-guide .intro {
    line-height: 1.6
}

.dl-guide .action {
    padding: 15px 0
}

.dl-guide .item {
    display: block;
    margin: 0 auto;
    width: 240px;
    line-height: 38px;
    font-size: 16px;
    margin-top: 15px;
    background-color: #f8f8f8;
    border: 1px solid #b7b7b7;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px
}

.dl-guide .item.blue {
    background-color: #0264e9;
    border-color: #0264e9;
    color: #fff;
    margin-top: 0
}

@media only screen and (-webkit-min-device-pixel-ratio:1.25),
only screen and (min-resolution:120dpi),
only screen and (min-resolution:1.25dppx) {
    .dl-guide h1:before {
        background-image: url(../images/login-chg160316150413@2x.png);
        background-size: 26px 26px;
        background-position: 0 0
    }
}

#CssGaga {
    content: "160519113742,chg,334"
}


/* end base */


/* page */

@charset "utf-8";
body,
html {
    height: 100%
}

#go,
#onekey,
#vcode #submit,
.copyright,
.header,
.nick,
.q_login,
.ui_topbar {
    text-align: center
}

.del_touch,
.inputstyle {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}

body {
    font-size: 16px;
    background: #eee
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #aaa
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
    color: #aaa
}

input:focus {
    outline: 0
}

.content {
    margin: 0 auto;
    width: 320px;
    height: 500px;
    position: relative
}

#error_tips {
    position: absolute;
    top: 0;
    z-index: 100;
    display: none;
    opacity: .95;
    width: 100%
}

#error_tips #error_tips_content {
    position: relative;
    padding: 16px 0 24px 24px;
    border-radius: 5px;
    background-color: #525C5F;
    height: 28px
}

#error_tips #error_tips_content #error_icon {
    position: absolute;
    top: 18px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../images/info.png") no-repeat
}

#error_tips #error_tips_content #error_message {
    display: inline-block;
    line-height: 28px;
    font-size: 14px;
    color: #fff;
    padding: 0 0 0 28px
}

#error_message a,
#error_message a:visited {
    color: #F15A22
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi),
(min-resolution:2dppx) {
    #error_tips #error_tips_content #error_icon {
        background: url("../images/info@2x.png") no-repeat;
        background-size: 24px 24px
    }
}

.login {
    margin: 0 auto;
    padding-top: 30px
}

.q_login {
    margin: 0 auto 40px;
    width: 290px;
    overflow: hidden
}

.inputstyle {
    width: 273px;
    height: 44px;
    color: #000;
    border: none;
    background: 0 0;
    padding-left: 15px;
    font-size: 16px;
    -webkit-appearance: none
}

.logo {
    height: 100px;
    width: 244px;
    margin: 0 auto 20px;
    background-size: 244px 100px
}

#switch,
#vcode,
#web_login {
    margin: 0 auto
}

.header {
    display: inline-block;
    height: 97px;
    width: 96px;
    position: relative
}

#q_login_logo,
#q_login_tips,
#remember,
#remember+.checkbox,
#vcode #input_tips,
#vcode #vcode_img,
#vcode #vcode_input,
.del_touch,
.del_touch_icon,
.del_u,
.header .img_out,
.header img,
.nick,
.txt_default {
    position: absolute
}

.header img {
    width: 60px;
    height: 60px;
    top: 10px;
    left: 16px
}

.header .img_out {
    width: 60px;
    height: 60px;
    top: 9px;
    left: 15px;
    border: 1px solid #c6dbe8;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 13px #6E6E6E
}

.nick {
    display: inline-block;
    top: 80px;
    left: 0;
    height: 20px;
    line-height: 18px;
    vertical-align: middle
}

.del_touch_icon {
    display: none;
    width: 30px;
    height: 30px;
    left: 60px;
    top: 0;
    z-index: 1
}

.del_icon {
    display: block;
    width: 24px;
    height: 22px;
    background: url("../images/android_logo_v1.png") -68px 0 no-repeat;
    border-radius: 11px
}

#web_login {
    width: 290px
}

#g_list {
    background: #fff;
    height: 89px;
    border-radius: 4px
}

#g_p,
#g_u {
    position: relative
}

#g_u {
    border-bottom: 1px solid #eaeaea
}

.txt_default {
    top: 12px;
    left: 10px;
    color: #b3b3b3
}

.del_touch {
    right: 0;
    display: block;
    height: 44px;
    width: 48px;
    z-index: 1
}

.del_u {
    display: none;
    left: 15px;
    top: 13px;
    height: 18px;
    width: 18px;
    border-radius: 9px;
    background: url("../images/android_logo_v1.png") -117px -2px no-repeat
}

#auto_login {
    height: 24px;
    margin: 15px 0;
    color: #246183;
    position: relative
}

#auto_login .wording {
    position: absolute;
    left: 40px;
    line-height: 24px;
    height: 24px;
    font-size: 14px
}

#remember {
    left: 14px;
    top: 5px;
    cursor: pointer;
    z-index: 1;
    opacity: .01
}

#remember:checked+.checkbox {
    background: url("../images/checked.png") 1px 1px #146FDF;
    border-color: #146FDF
}

#remember+.checkbox {
    display: inline-block;
    width: 21px;
    height: 21px;
    left: 9px;
    top: 1px;
    border: 1px solid #9ABBE3;
    background: 0 0;
    border-radius: 11px
}

#go,
#onekey {
    width: 290px;
    height: 44px;
    line-height: 44px;
    background: #146fdf;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    margin-top: 15px;
    display: block
}

#go.weak,
#onekey.weak,
#switch #swicth_login {
    height: 42px;
    border: 1px solid #9abbe3;
    color: #146fdf
}

#onekey {
    background: #146fdf;
    display: none
}

#go.weak,
#onekey.weak {
    background-color: #e7e7e7
}

#switch {
    width: 290px
}

#switch #swicth_login {
    width: 288px;
    line-height: 44px;
    border-radius: 5px;
    background: #e7e7e7;
    margin-top: 10px;
    text-align: center;
    font-size: 16px
}

#switch #zc_feedback {
    width: 290px;
    position: relative;
    margin-top: 15px;
    overflow: hidden
}

#switch #forgetpwd,
#switch #zc {
    color: #246183;
    line-height: 14px;
    font-size: 14px;
    padding: 15px 10px
}

#switch #zc {
    float: right;
    margin-right: -10px
}

#switch #forgetpwd {
    float: left;
    margin-left: -10px
}

.tansparent {
    background: 0 0
}

#q_login_title {
    height: 32px;
    line-height: 22px;
    margin-bottom: 20px;
    position: relative
}

#q_login_logo {
    background: url("../images/android_logo_v1.png") -44px 0 no-repeat;
    width: 22px;
    height: 22px;
    left: 0
}

#q_login_tips {
    left: 30px;
    top: 0;
    color: #246183
}

#vcode {
    padding-top: 40px;
    display: none
}

#vcode #vcode_tips {
    display: block;
    width: 290px;
    height: 20px;
    line-height: 20px;
    margin: 0 auto 15px;
    color: #77838D
}

#vcode #vcode_area {
    position: relative;
    margin: 0 auto;
    width: 290px;
    height: 70px;
    border-radius: 5px;
    border: 1px solid #b8b8b8;
    background: #fff
}

#vcode #vcode_img {
    left: 3px;
    width: 140px;
    height: 70px
}

#vcode #vcode_input {
    top: -1px;
    left: 145px;
    width: 145px;
    height: 70px;
    border: 1px solid #9d9d9d;
    background: 0 0;
    -webkit-appearance: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    line-height: 28px;
    font-size: 28px;
    -webkit-box-shadow: inset 0 0 10px #ccc
}

#vcode #input_tips {
    top: 5px;
    left: 150px;
    display: block;
    width: 135px;
    height: 50px;
    color: #B3B3B3;
    z-index: 1;
    padding-top: 8px
}

#vcode #submit {
    width: 288px;
    height: 22px;
    padding: 10px 0;
    background: #7ec82c;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 22px;
    margin: 35px auto 0
}

.copyright {
    color: #8a949d;
    font-size: 10px;
    margin-top: 15px;
    font-family: Helvetica
}

.copyright .chs,
.copyright .en {
    line-height: 20px
}

.mode_webapp .ui_topbar .topbar_btn b,
.mode_webapp .ui_topbar .topbar_btn_left b {
    background-image: url("../images/bg_btn_back.png");
    background-position: bottom right;
    background-size: 105px;
    width: 6px;
    height: 32px;
    float: left
}

.ui_topbar .topbar_title,
.ui_topbar h3 {
    font-size: 18px
}

.ui_topbar {
    border-bottom: 1px solid #b6b6b6;
    border-top: 2px solid #df242a;
    background-color: #d9d9d9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#d9d9d9));
    background-image: -webkit-linear-gradient(top, #ebebeb, #d9d9d9);
    background-image: linear-gradient(to bottom, #ebebeb, #d9d9d9);
    height: 40px;
    line-height: 40px;
    position: relative
}

.lay_header {
    height: auto!important;
    width: 100%
}

.mode_webapp .ui_topbar {
    color: #fff;
    background-color: #c32d32;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fe444a), to(#c32d32));
    background-image: -webkit-linear-gradient(top, #fe444a, #c32d32);
    background-image: linear-gradient(to bottom, #fe444a, #c32d32);
    border-bottom: 1px solid #700d00;
    border-top: 0 none;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 5px #333
}

.mode_webapp .ui_topbar .topbar_btn_left {
    display: block;
    position: absolute;
    left: 10px;
    top: 5px
}

.mode_webapp .ui_topbar .topbar_btn span,
.mode_webapp .ui_topbar .topbar_btn_left span {
    float: left;
    display: inline-block;
    height: 32px;
    line-height: 30px;
    color: #fff;
    background-image: url("../images/bg_btn_back.png");
    background-size: 105px;
    padding-left: 10px;
    padding-right: 4px
}

.mode_webapp .ui_topbar .topbar_btn_left span {
    background-image: url("../images/bg_btn_back.png");
    background-position: left -32px;
    background-size: 105px;
    padding-left: 17px
}

.skin-2 .ui_topbar {
    background-color: #161616;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3e3e3e), to(#262626));
    background-image: -webkit-linear-gradient(top, #3e3e3e, #262626);
    background-image: linear-gradient(to bottom, #3e3e3e, #262626);
    border-bottom-color: #1a1a1a
}

.skin-2 .ui_topbar .topbar_btn b,
.skin-2 .ui_topbar .topbar_btn span,
.skin-2 .ui_topbar .topbar_btn_left b,
.skin-2 .ui_topbar .topbar_btn_left span {
    background-image: url("../images/bg_btn_back_black@2x.png");
    background-size: 105px
}

.new_vcode {
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.logo {
    background-image: url("../images/ptlogin-logo.png");
}


/* end page */
